name: Release

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Docker Build"]
    types:
      - completed
    branches:
      - main

permissions:
  contents: read

jobs:
  release:
    permissions:
      contents: write
      issues: write
      pull-requests: write
    name: Release
    runs-on: ubuntu-latest
    # Skip running release workflow on forks and only run if Docker Build succeeded
    if: github.repository_owner == 'Perun-Engineering' && github.event.workflow_run.conclusion == 'success'
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Release
        uses: cycjimmy/semantic-release-action@v6
        with:
          semantic_version: 24.2.0
          extra_plugins: |
            @semantic-release/changelog@6.0.3
            @semantic-release/git@10.0.1
            conventional-changelog-conventionalcommits@8.0.0
          branches: |
            [
              'main'
            ]
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  dockerHubDescription:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v5
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: sirantd/aws-helm-kubectl
          short-description: ${{ github.event.repository.description }}
